@model List<ResultGuestDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
    int count = 0;
}


@* Guest Index *@



<link href="c:\users\keleb\source\repos\coreapiproject\frontend\hotelproject.webui\wwwroot\lib\bootstrap\dist\css\bootstrap.css" rel="stylesheet" />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>İsim</th>
        <th>Soy İsim</th>
        <th>Yaşadığı Şehir</th>
        <th>Sil</th>
        <th>Güncelle</th>
        @* <th>Detaylar</th> *@
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.Name</td>
            <td>@item.Surname</td>
            <td>@item.City</td>
            <td><a class="btn mb-1 btn-rounded btn-outline-danger" href="/Guest/DeleteGuest/@item.GuestID">Sil</a></td>
            <td><a class="btn mb-1 btn-rounded btn-outline-warning" href="@Url.Action("UpdateGuest", "Guest", new { id = item.GuestID })">Güncelle</a></td>
            @* <td><a class="btn mb-1 btn-rounded btn-outline-dark" href="@Url.Action("Details", "AdminRoom", new { id = item.RoomID })">Detaylar</a></td> *@
        </tr>
    }
</table>

<a class="btn mb-1 btn-rounded btn-outline-info" href="@Url.Action("AddGuest", "Guest")">Yeni Misafir Ekle</a>




